@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Disaster Alleviation Foundation</h1>
    <p><i>Bringing hope in times of  crisis.</i></p>
    <p>At the <b>Disaster Alleviation Foundation</b> we are driven by a simple yet powerful belif:<i>Together we can make a difference.
        Our mission is to provide practical aid during disasters,offering a helping hand when it's needed most. We stand as a beacon of hope in the face of adversity.
    </i></p>
    <p><b>Our Commitmment To Transparancy</b></p>
    <p>Transparency is at the heart of everything we do. We pride ourselves on maintaining accurate and 
        accessible records of donations, aid dispatches, and the impact we make. We believe in being accountable to our donors, partners, and the communities we serve.</p>

    <p><b>How You Can Make An Impact</b></p>
    <ul>
        <li><b>Donate</b>: Your support, whether monetary or in-kind, fuels our ability to respond swiftly to disasters.</li>
        <li><b>Stay Informed</b>: Explore our projects, disaster relief efforts, and see the impact we've had in communities around the world.</li>
        <li><b>Join Us</b>: Become a part of our dedicated team or volunteer your time to help those in need.</li>
    </ul>
    <p><b>Get Involved Today</b></p>
    <p>Join us in our mission to alleviate suffering and restore hope. Together, we can make the world a better place, one disaster at a time. Thank you for visiting the Disaster Alleviation Foundation.
</p>
    <p><i>Together, we are a force for good.</i></p>
</div>
